body{
	margin:50px 0px;
	background-color : #000;/*background color black 지정  */
}
 a:hover {
color:gray;/* a선택자에 마우스 올렸을때 color gray 지정 */
}
a{
	font:1.5em ;/* a 선택자 폰트 크기,색상-흰색, 텍스트 데코 없앰*/
	color:#fff;
	text-decoration:none;
}

#top{/* 로그인버튼이 있는 선택바 색상-흰색, 텍스트 정렬-오른쪽, margin지정 */
	color:#fff;
	text-align : right;
	margin:0px 120px 0px 0px;
	
}
#topMenu{/* 메뉴바 스타일 지정 */
	list-style:none;
	width:100%;
	background-color : #000;
	margin:0px;
	padding:20px;
	text-align:center;
}
 #topMenu li{
	display:inline;/* 메뉴바를 한줄로 보여줌 */
	padding-left:50px;/* 메뉴사이 간격 */
}  
/* ----------------------------------------------------------------------------------------- */

 #main {
    border: 1px none; 
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    width: 1200px;
    height : 300px;
    margin: auto;
} 

#main div {
   -webkit-flex: 1; /* Safari 6.1+ */
   flex: 1;
}

#notice {
	border: 2px solid; 
	border-color: white;
    width: 600px;
    height : 200px;
    padding: 5px;
    margin: 0px 5px 0px 0px;
}

h2{
	float: left;
	position:relative;
	left:250px;
	top:-10px;
	color:#fff;
}
h5{
	float: right;
	position:relative;
	right:30px;
	top:-5px;
}

#notice_ul, #qa_ul {
	float: left;
	position:relative;
	left:-80px;
	top:40px;
	color:#fff;
}


/* ----------------------------------------------------------------------------------------- */

/* @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800); */
figure.snip1132 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden; 
  /* margin: 20px 8%; */
  margin: 20px 20px 20px 240px;
  min-width: 1200px;
  max-width: 600px;
  max-height: 500px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

 figure.snip1132 * {/* ??????????????????????????????????????????? */
    -webkit-box-sizing: border-box; 
  box-sizing: border-box;
/*    -webkit-transition: all 0.5s ease-in-out; */
  transition: all 0.45s ease-in-out; 
}  

 figure.snip1132 img {
  /* max-width: 100%; */ 
  position: relative; 
  opacity: .8;
} 

figure.snip1132 figcaption {/* caption를 두르는 테두리 위치와 선 두께 및 색상 스타일 지정 */
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 1px solid white;
  border-width: 0 1px;
}

figure.snip1132 .heading {
  overflow: hidden;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

figure.snip1132 .caption {
  overflow: hidden;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  position: absolute;
  width: 100%;
  bottom: 0 ;
}

figure.snip1132 h3,
figure.snip1132 p {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
}

figure.snip1132 h3 span,
figure.snip1132 p span {
  font-weight: 800;
}

figure.snip1132 h3:before,
figure.snip1132 p:before,
figure.snip1132 h3:after,
figure.snip1132 p:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: white;
}

figure.snip1132 h3:before,
figure.snip1132 p:before {
  left: -1000%;
}

figure.snip1132 h3:after,
figure.snip1132 p:after {
  right: -1000%;
}

figure.snip1132 h3:before,
figure.snip1132 h3:after {
  top: 50%;
}

figure.snip1132 p {
  font-size: 0.8em;
  font-weight: 500;
}

figure.snip1132 p:before,
figure.snip1132 p:after {
  bottom: 50%;
}

figure.snip1132 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.snip1132:hover img,
figure.snip1132.hover img {
  opacity: 0.35;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
/* ----------------------------------------------------------------------------------------- */
   .scroll_top {
        position: fixed;
        left: 90%;
        bottom: 400px;
        display: none;
      }
       .scroll_bottom {
        position: fixed;
        left: 90%;
        bottom: 350px;
        display: none;
      }
