<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>study</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
	<description>Board DBCP Test</description>
	<res-ref-name>jdbc:BoardDB</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
  </resource-ref>
  
   <servlet>
  	<servlet-name>StudyController</servlet-name>
  	<servlet-class>study.controller.StudyController</servlet-class>
  	<init-param>
  		<param-name>StudyConfig</param-name>
  		<param-value>C:\Users\AHN\git\studyhaja\studyhaja\WebContent\WEB-INF\commandBoard.properties</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudyController</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>